<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
        <% if @user.url %>
          <strong>Company: </strong><%= @user.title %><br />
        <% else %>
          <strong>Name: </strong><%= @user.title %><br />
        <% end %>
			</h1>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
		</td>
		<td class="sidebar round">
      <strong>Contact</strong><br /><%= @user.email %><br />
      <strong>Site</strong><br /><a href="#{@user.url}"><%= @user.url %></a><br />
		</td>
	</tr>
</table>
