<header>
<%= image_tag("logo.png", :size => "500x90", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<% if !signed_in? %>
				<li><%= link_to "Sign in", signin_path %></li>
			<% elsif signed_in? %>
				<li><%= link_to "Profile", current_user %></li>
				<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% end %>
		</ul>
	</nav>
	<div></div>
</header>
